.p-file_upload_dialog {
  background-color: $color-shade-darker;
  box-shadow: 0 1px 0 $color-shade-darker;

  .c-dialog__header {
    background: $color-shade-darkest;

    h3 {
      color: $base-font-color;
    }

    color: $base-font-color;
  }

  .c-dialog__footer {
    background: padding-box #222;
    border-top: 1px solid transparent;
    box-shadow: none;

    .btn {
      background-color: $color-shade-light;
      color: $base-font-color !important;
      text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    }
  }
}
