.file_upload_dialog {
  background-color: $color-shade-darker;
  box-shadow: 0 1px 0 $color-shade-darker;

  .c-dialog__header {
    background: $color-shade-darkest;
    border-bottom: 1px solid $color-shade-dark;
    color: $base-font-color;
  }

  .footer {
    background: padding-box #222;
    border-top: 1px solid transparent;
    box-shadow: none;
  }
}
