.p-downloads_list {
  .p-download_item__container {
    .p-download_item__size_row {
      .p-download_item__actions {
        background: $color-base;
        &:hover  {
          background: $color-base;
        }
      }
    }
  }

  .p-downloads_list__shift_hint {
    background: transparent;
  }
}


