.p-downloads_list {
  .p-download_item {
    &:hover {
      .p-download_item__container {
        .p-download_item__size_row {
          .p-download_item__actions {
            background: $color-shade-dark;
          }
        }
      }
    }
  }
  .p-download_item__container {
    .p-download_item__size_row {
      .p-download_item__actions {
        &:hover {
          background: $color-shade-dark;
        }
      }
    }
  }

  .p-downloads_list__shift_hint {
    background: transparent;
  }
}

